/*RESET*/
@use './reset.scss';

/*COLORS*/
@use './colors.scss';

/*MIXINS*/
@use './mixins.scss';

/*COMPONENTS*/
@use './components.scss';

/*COMMON CLASSES*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}